<div class="mainpanel">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-user"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li>Profile</li>
                </ul>
                <h4>Update</h4>
            </div>
        </div>
    </div>

    <div class="contentpanel">
        <div style="margin: 20px;text-align: -webkit-center;">
            <div class="card border-0 shadow mb-4 col-xl-6 col-lg-6" style="padding: 0px;">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Create New Password</h6>
                </div>
                <div class="card-body" style="background-color: white;">
                    <form class="form-signin" [formGroup]="newForm" id="login-form" class="needs-validation">

                        <div class="form-label-group">
                            <!-- <label for="emailaddress">Email address</label> -->
                            <input type="password" class="form-control" placeholder="New Password" formControlName="new_pass" id="firstname" [ngClass]="{ 'is-invalid': f.new_pass.errors && (f.new_pass.touched || submitted), 'is-valid' : f.new_pass.valid }" required autofocus>
                            <div class="invalid-feedback">New Password is required.</div>
                        </div>
                        <div class="form-label-group">
                            <!-- <label for="emailaddress">Email address</label> -->
                            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="c_pass" id="firstname" [ngClass]="{ 'is-invalid': f.c_pass.errors && (f.c_pass.touched || submitted), 'is-valid' : f.c_pass.valid }" required autofocus>
                            <div class="invalid-feedback">Confirm Password is required.</div>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="newForm.invalid">Update Password</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>