<div class="leftpanel">
    <div class="media profile-left">
        <a class="pull-left profile-thumb">
            <img class="img-circle" src="/assets/adminPanel/images/photos/profile.png" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Elen Adarna</h4>
            <small class="text-muted">Beach Lover</small>
        </div>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a [routerLink]="['/dashboard/']"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a [routerLink]="['users']"><i class="fa fa-users"></i> <span>Users</span></a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a [routerLink]="['profile']"><i class="fa fa-male"></i> <span>Profile</span></a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a [routerLink]="['orders']"><i class="fa fa-bars"></i> <span>Orders</span></a></li>
        <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a [routerLink]="['products']"><i class="fa fa-file-text"></i> <span>Products</span></a></li>
    </ul>

</div>
<!-- leftpanel -->