<div class="banner-text agileinfo">
    <div class="container">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="banner-w3lstext">
                        <h3>Dresses & <br> Gowns for Wedding</h3>
                        <h4>MOLESTIAS EXCEPTURI SINT<br>OCCAECATI CUPIDITATE NON PROVIDENT</h4>
                    </div>
                </li>
                <li>
                    <div class="banner-w3lstext">
                        <h3>Exclusive & <br>Designer Jewellery</h3>
                        <h4>EXCEPTURI SINT MOLESTIAS <br>OCCAECATI CUPIDITATE NON PROVIDENT</h4>
                    </div>
                </li>
                <li>
                    <div class="banner-w3lstext">
                        <h3>Jewellery & <br>Dress Wedding Collection</h3>
                        <h4>CUPIDITATE EXCEPTURI SINT<br> MOLESTIAS OCCAECATI NON PROVIDENT</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="agileits-arrow bounce animated"><a href="#about" (click)="scrolltoid('categories');$event.preventDefault();" class="scroll"><i class="fa fa-angle-down" aria-hidden="true"></i></a></div>